#root #titleBox {
    -fx-padding: 0 0 0 70;
    -fx-background-color: -color-neutral-muted;
}

#root #titleBox #title {
    -fx-text-fill: -color-fg-default;
    -fx-font-size: 25;
}

#root #infoBox {
    -fx-spacing: 20;
    -fx-padding: 30 0 0 70;
}