.box_class {
    -fx-background-radius: 5;
    -fx-border-style: solid;
    -fx-border-color: rgba(136, 136, 136, 0.5);
    -fx-background-color: white;
}

.conf_menu_item {
    -fx-pref-width: 100;
}